
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WrongIdEditor</title>
    <style>
        body {
            background: url(../../img/error_display.png) no-repeat center center fixed;
            background-repeat: no-repeat;
            background-position: center center;
            
            background-size: auto 100%;
        }
    </style>
</head>
<body>
    <div>
    </div>
</body>
</html>
